@(blogPosts: Seq[models.BlogPost], currentPage: Int, totalPages: Int)

@main("Blog Posts") {
  <h1>All Blog Posts</h1>
  <div class="blog-posts-container">
  @for(blogPost <- blogPosts) {
    <div class="blog-post">
      <div class="blog-post-content">
        <h2>@blogPost.title</h2>
        <p><strong>Category:</strong> @blogPost.category</p>
        <p><strong>Date:</strong> @blogPost.date</p>
        <p>
        @if(blogPost.content.length > 100) {
          @blogPost.content.substring(0, 100) + "..."
        } else {
          @blogPost.content
        }
        </p>
        <a href="@routes.HomeController.show(blogPost.id.get)">Read more</a>
      </div>
    </div>
  }
  </div>
}
