@(blogPosts: Seq[models.BlogPost], headerTitle: String, categories: Seq[String])

@main("Home") {
  @views.html.partials.header(headerTitle, categories)

  <div class="blog-posts-container">
  @for(blogPost <- blogPosts) {
    <div class="blog-post">
      <div class="blog-post-thumbnail">
          <img src="@routes.ImageController.getImage(blogPost.thumbnailUrl.toLong)" alt="Thumbnail for @blogPost.title">
      </div>
      <div class="blog-post-title">
        <a href="@routes.HomeController.show(blogPost.slug)">@blogPost.title</a>
      </div>
    </div>
  }
  </div>
}